*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #888888;
}

.box h1{
    font-size: 45px;
}
#key-name,#key-number{
    color: green;
    font-size: 40px;
}

.ans{
    margin-top: 15px;
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ans h1{
     padding: 15px;
     border-radius: 4px;
     box-shadow: 1px 0.5px 1px 0.5px black;
}
